.brandcolor, .brandcolor:hover{
    color:#cc0000;
  }
  .brandbgcolor, .brandbgcolor:hover{
    background-color: #cc0000;
    border-color:#cc0000;
  }
  .brand_menu{
    background-color:rgba(204,0,0, 0.5);
  }
  .brand_menu .whitebtn:hover, .brandmenu4 .whitebtn:hover, .brandNavigation3 .whitebtn:hover, .brandmenu4 .whitebtn:hover{
    background-color: #cc0000 !important;
  }
  .brandmenu ul li a.active{
    border:1px solid #d10202;
    background-color: #cc0000 !important;
  }
  .noticeblock{
    border:1px solid #cc0000;
  }
  .headingbg{
    background-color:#cc0000;
  }
  .notice{
    border-bottom:1px solid #cc0000;
  }
  .day{
    border-top:4px solid #cc0000;
  }

  .page-item.active .page-link{
    color:#fff;
    background-color:#cc0000;
  }
  .page-link{
    color:#cc0000;
  }
  .training:hover .morejob, .training:hover .brandcolor{
    color:#cc0000;
  }
  .training:hover .border{
    background-color:#cc0000;
  }
  .training_info{
    background-color:rgba(204,0,0, 0.2);
  }
  .venue_icon{
    border:1px solid #cc0000;
  }
  .venue_icon i{
    color:#cc0000;
  }
/*css for job detail page*/
.short_descp i, .deadline i, .jdicon i, .deadline p{
  color:#cc0000 !important;
}
a.large_greenbtn{
  background: #cc0000 !important;
  border: 1px solid #cc0000 !important;
}
.deadline{
  border: 1px solid #cc0000 !important;
}

/* css for second design*/
 
 .brandNav2 ul li a{
  color:#cc0000;
}

.notice2{
  width: 453px;
  
  border-right: 0px solid transparent;
  border-left: 118px solid transparent;
  padding: 0px 10px;
  border-bottom: 237px solid rgba(204,0,0,0.56);
  right:0px;
  bottom:0px;
  position: absolute;
}

/*css for third design*/
.notice3bg{
  width:100%;
  background-color:rgba(204,0,0,0.56);
  position: absolute;
  bottom:0px;
}
.noticeplay .slick-prev{
  left:-30px;
  background-color:#cc0000;
}
.noticeplay .slick-next{
  right:-30px;
  background-color:#cc0000;
}
.noticeborder{
  border-top:1px solid rgba(204,0,0,0.9) !important;
  padding:10px 0px;
}

/* css for fifth design*/
.notice5{
  border:1px solid #cc0000;
}
.notice5 h2:hover{
  color:#cc0000;
}
.triangle-topleft {
  border-top: 27px solid #cc0000;
}